@model VoterRegistrationMVC.Models.IVoterSearchesResultsView




<div id="DivGrid" class="gTable">
    @{


        WebGrid grid = new WebGrid(canPage: true,  rowsPerPage: 25, columnNames: new[] { "VoterID", "FirstName", "LastName", "HouseNum", "StreetName", "AddressValue" }, selectionFieldName: "VoterID");
        //grid.Pager(WebGridPagerModes.Numeric); 
        grid.Bind(source: Model.VoterSearchResults, autoSortAndPage: false, rowCount: ViewBag.TotalRows);

    }

    @grid.GetHtml(
                    columns: grid.Columns(
                                        grid.Column("VoterID", header: "Voter ID", format: (item) => Html.ActionLink("Add Voter", "AddVoter", "VoterSearch", new { VoterID = (String)item.VoterID, PetitionID = (int)item.PetitionID, PetitionDetailID = (int)item.PetitionDetailID }, null)),
                                        grid.Column("FirstName", header: "First Name"),
                                        grid.Column("LastName", "Last Name"),
                                        grid.Column("HouseNum", "House Number"),
                                        grid.Column("StreetName", "Street Name")
                                        ),
                          tableStyle: "gTable",
                          selectedRowStyle: "selectedRow",
                          footerStyle: "grid-footer",
                          mode : WebGridPagerModes.Numeric,
                          htmlAttributes: new { id = "tblSearchResults" } 
                 )
</div>


