@model VoterRegistrationMVC.Models.VoterSearchesViewModel

@section scripts
{ 
    <script language="javascript" type="text/javascript">
        $(document).on('change', '#VoterSearchCriteriaModel_PetitionID', function () {
             
            var value = $('#VoterSearchCriteriaModel_PetitionID').val();
            //alert(value);
            var url = "/VoterSearch/PetitionChange/";
            
            //this fills our detail petition id drop down
            $.ajax({
                url: url,
                data: { PetitionID: value },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup;
                    if (data.length == 0)
                    {
                        markup = "<option value='0'>Select Detail Petition ID</option>";
                    }

                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#VoterSearchCriteriaModel_PetitionDetailID").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }


            })
        })


        
  

    //$('#PagingFooter a').click(function ()
    //            {
    //                // when the user clicks on any of the pager links
    //                // try to extract the page number from the link and
    //                // set the value of the hidden field
    //                var count = 1;
    //                var page = this.href.match(/page=([0-9])+/)[1];
    //                $('#page').val(page);
    //                //this.getAttribute("href")
    //                alert(pages);
    //                // submit the form so that the POST action is invoked
    //                // passing along the search criteria (Name and Year) along
    //                // with the page hidden field value to the Index action
    //                //$('frmCriteria').submit();
    //                document.getElementById("frmCriteria").submit();

    //                this.replaceWith($("a#link").text());
    //                // cancel the default action of the link which is to simply redirect
    //                // to the Index action using a GET verb.
    //                return false;
    //            }
    //        )

        //$(function () {
        //    $('tfoot a').each(function() {   
        //        //$(this).attr("href", "/Search?page="+count);
        //        //$(this).attr("val", count);
        //        count++;
        //        alert(count);
        //    })
        //});
    </script>
}

@Html.Partial("PartialSearchCriteria", Model)


<div id="searchResults">
    @Html.Partial("PartialSearchResults", Model)
</div>
 
