@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Voter Registration</h1>
    <p>@Html.ActionLink("Find and Assign Voters", "Search", "VoterSearch")</p>
    <br />
    <p>@Html.ActionLink("Add or Edit Voter Merge File Details", "Index", "VoterMergeFileDetails")</p>
    <br />
    <p>@Html.ActionLink("Add/Edit Petitions", "Index", "Petitions")</p>
    <br />
    <p>@Html.ActionLink("Add/Edit Petition Details", "Index", "PetitionDetails")</p>
</div>

