@model VoterRegistrationMVC.Models.PetitionSignaturesSearchViewModel

@Html.Partial("PetitionSignatureSearchCriteria", Model)

<div id="searchResults">
    @Html.Partial("PeitionSignatureSearchResults", Model)
</div>
 
